@import '../../../public/styles/globals.scss';

.checkboxField {
  margin: 0.25rem 0;
  font-size: 1rem;
  font-family: 'Space Grotesk', sans-serif;
  line-height: 2rem;
  color: $color-1;
  &_input {
    position: relative;
    margin-right: 1rem !important;
    outline: none;

    &__checked::before {
      border: 2px solid $color-3;
    }

    &:focus {
      &::before {
        border: 2px solid $color-3;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-25%);
      width: 1.25rem;
      height: 1.25rem;
      border: 2px solid transparent;
      border-radius: 0.25rem;
      background-color: $color-6;
      transition: .3s background-color;
      box-sizing: content-box !important;
      cursor: pointer;
    }

    &__checked::before {
      background-color: $color-3;
      box-sizing: content-box !important;
    }

    &__checked::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0.2rem;
      height: 0.4rem;
      border: solid $color-1;
      border-width: 0 3px 3px 0;
      -webkit-transform: translate(150%, -10%) rotate(45deg);
      -ms-transform: translate(150%, -10%) rotate(45deg);
      transform: translate(150%, -10%) rotate(45deg);
      box-sizing: unset !important;
    }
  }
}
