@import '../../public/styles/globals.scss';

.signUpForm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;

  &_spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1.5s linear infinite;
    margin-bottom: 30px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &_title {
    width: 100%;
    margin-bottom: 32px;
    line-height: 2.625rem;
    font-weight: 400;
    font-size: 2.1rem;
    font-family: 'Space Grotesk', sans-serif;
    color: $color-1;
  }

  &_loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 240px;
    width: 100%;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
  }

  &_messageContainer {
    margin: 12px 0;
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;

    &__success {
      color: $color-1;
    }

    &__failure {
      color: rgb(221, 54, 54);
    }
  }

  &_fieldContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
  }

  &FieldGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 576px) {
      flex-direction: column;
    }

    @media (min-width: 577px) {
      &_item:first-of-type {
        margin-right: 1.5rem;
      }
    }
  }

  &_recaptchaContainer {
    width: 100%;
    margin-top: 0.8rem;
  }

  &_termsLink {
    color: $color-3;
    text-decoration: none;
    cursor: pointer;
  }

  &_buttonContainer {
    width: 100%;
    margin-top: 1.5rem;
  }

  &_submit {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    line-height: 1.375rem;
    margin: 0;
  }
  &_icon {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
  }
}
