@import "../../public/styles/globals.scss";

.signUpWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 30px;
  }
}
