// INFO: color scheme
$color-1: #ffffff;
$color-2: #0d0f19;
$color-3: #303fe1;
$color-4: #151720;
$color-5: #1c1e27;
$color-6: #20222b;

$green: #4caf50;
$lightgreen: #8bc34a;

$grey: #758491;
$lightgrey: #7584917d;

$red: #f44336;